<%= render 'layouts/header' %>

<%= form_with model: @game_item, local:true do |f| %>
 <div class="">
    <table class="table">
      <tr>
        <div class="form_group">
          <%= attachment_image_tag @game_item, :image, :fill, 400, 300, fallback: "no_image.jpg" %>
          <%= f.attachment_field :image %>
        </div>
      </tr>
      <tr>
        <div class="form_group">
          <th><%= f.label :"ゲーム名" %></th>
          <th><%= f.text_field :name %></th>
        </div>
      </tr>
      <tr>
        <div class="form_group" id="star">
          <%= f.label :rate,'評価', class:'col-md-3 col-form-label'%>
          <%= f.hidden_field :rate, id: :review_star %>
        </div>
        <script>
          $('#star').raty({
            size : 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn: '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'game_item[rate]',
            half: true,
          });
        </script>
      </tr>
      <tr>
        <div class="form_group">
          <th><%= f.label :"ゲーム説明" %></th>
          <th><%= f.text_area :introduction %></th>
        </div>
      </tr>
      <tr>
        <div class="form_group">
          <th><%= f.label :"ジャンル" %></th>
          <th><%= f.collection_select :genre_id, Genre.where(is_active: true), :id, :name, include_blank: "--選択してください--" %></th>
        </div>
      </tr>
      <tr>
        <div class="form_group">
          <th><%= f.label :"価格" %></th>
          <th><%= f.text_field :price %>円</th>
        </div>
      </tr>
    </table>
    <div class="actions col-xs-7">
      <%= f.submit "投稿する", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

