<%= render 'layouts/header' %>

<div class="container">
  <div class="row">

    <div class="col-xs-3">
        <%= render 'game_items/search' %>
    </div>
    <div class="item-show">
      <div class="col-xs-4">
        <div class="item-show-img">
          <%= attachment_image_tag @game_item, :image, :fill, 340, 200, format: 'jpeg' %>
        </div>
      </div>


      <div class="col-xs-5">
        <h2><%= @game_item.name %></h2>
        <h4><%= @game_item.introduction %></h4>
        <h4><%= @game_item.price %></h4>

        <% if @game_item.favorited_by?(current_user) %>
          <td><%= link_to "ブックマークを外す", game_item_favorites_path(@game_item), method: :delete %></td>
        <% else %>
          <td><%= link_to "ブックマーク", game_item_favorites_path(@game_item), method: :post %></td>
        <% end %>

        <% if @game_item.user.id == current_user.id %>

		  	<td><%= link_to "Edit", edit_game_item_path(@game_item), class: "btn-sm btn-success edit_game_item_#{@game_item.id}" %></td>
		  	<td><%= link_to "Destroy", game_item_path(@game_item), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_game_item_#{@game_item.id}" %></td>

		  	<% end %>
      </div>
      </div>
    </div>


  </div>