<%= render 'layouts/header' %>

<div class="container">
  <div class="row">

    <div class="col-xs-3">
        <%= render 'game_items/search' %>
    </div>
    <div class="col-xs-4">
      <div class="item-show-img">
        <%= attachment_image_tag @game_item, :image, :fill, 340, 200, fallback: "no_image.jpg" %>
      </div>
    </div>

    <div class="col-xs-5">
      <h2><%= @game_item.name %></h2>
      <h3>
        <%= link_to user_path(@game_item.user) do %>
          <%= @game_item.user.name %></h3>
        <% end %>
      <h4><%= @game_item.introduction %></h4>
      <h4><%= @game_item.price %></h4>
      <h4><%= @game_item.genre.name %></h4>

        <tr>
          <div id="star-rate-<%= @game_item.id %>"></div>

            <script>
              $('#star-rate-<%= @game_item.id %>').raty({
              // $('#star').raty({
                size : 36,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn: '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                score: <%= @game_item.rate %>,
                half: true,
                readOnly: true,
              });
            </script>
          </div>
        </tr>

        <% if @game_item.favorited_by?(current_user) %>
          <td><%= link_to "ブックマークを外す", game_item_favorites_path(@game_item), method: :delete %></td>
        <% else %>
          <td><%= link_to "ブックマーク", game_item_favorites_path(@game_item), method: :post %></td>
        <% end %>

        <% if user_signed_in? %>
        <% if @game_item.user.id == current_user.id %>

  		  	<td><%= link_to "Edit", edit_game_item_path(@game_item), class: "btn-sm btn-success edit_game_item_#{@game_item.id}" %></td>
  		  	<td><%= link_to "Destroy", game_item_path(@game_item), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_game_item_#{@game_item.id}" %></td>
  		  <% end %>
		  	<% end %>
      </div>
      </div>

      <div class="row">
        <div class="col-xs-3">
        </div>

      <div class="col-xs-7">
        <h3>コメント</h3>

        <% @game_item.comments.each do |comment| %>

        <div class="comment">
        <tr>
          <td>
          	<%= attachment_image_tag(comment.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg") %>
          </td>
          <td>
          	<div class="media-body">
          		<h4 class="media-heading">
          		  <%= link_to user_path(comment.user) do %>
        			    <%= comment.user.name %>
        			  <% end %>
        	</td>
          		</h4>
          		<%= comment.comment %>
          	</div>
          </div>
        </tr>

        <% end %>

        <%= form_for [@game_item, @comment] do |f| %>
          <div class="form_group">
    			  <%= f.text_area :comment%>
    			</div>
    			  <%= f.submit "送信", class: "btn btn-default" %>
  			<% end %>
      </div>
      </div>
	    </div>
    </div>
  </div>