<%= render 'layouts/header' %>
<div class="users-body">

<div class="container">
  <div class="row">
  	<div class="col-xs-3">
		<table class="table">
			<tr><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", class: "user_image"  %></tr>

			<tr>
				<th>Name</th>
				<th><%= @user.name %></th>
			</tr>

			<tr>
				<th>introduction</th>
				<th><%= @user.introduction %></th>
			</tr>
		</table>
		<% if @user.id == current_user.id %>
			<div class="row">
				<%= link_to '', edit_user_path(current_user), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{@user.id}" %>
			</div>
		<% end %>

		<div class="new_post">
          <%= link_to '投稿する', new_game_item_path, class: "btn btn-primary"%>
        </div>
	</div>
	<div class="col-xs-2">
	  <h3>投稿一覧</h3>
	</div>
	<div class="col-xs-7">
	  <table class="table">
	  	<thead>
	  		<tr>
		  		<th></th>
		  		<th>タイトル</th>
		  		<th>ゲーム詳細</th>
		  	</tr>
	  	</thead>
	  	<tbody>
	  	  <% @game_items.each do |game_item| %>
	  		<tr>
		  		<th>
		  			<%= link_to game_item_path(game_item) do %>
		  				<%= attachment_image_tag game_item, :image, :fill, 100, 100, fallback: "no_image.jpg", :size =>'100x100'%>
		  			<% end %>
		  		</th>
		  		<th>
		  		  <%= link_to game_item_path(game_item) do %>
		  			<%= game_item.name %>
		  		  <% end %>
		  		</th>
		  		<th>
		  			<%= game_item.introduction %>
		  		</th>
		  	</tr>
		  <% end %>
	  	</tbody>
	  </table>
	</div>
  </div>
</div>

</div>